<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scss/main.css">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    {{>headerLinks}}
    <title>30 Days Free Trai</title>
</head>

<body>
    {{>classes/codingclass}}
    {{>footer}}
</body>

</html>