<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
    <title>Express About</title>
    <link rel="stylesheet" href="scss/main.css">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
</head>

<body>
    {{>homeNav}}
    <div class="header_hero" style="background-color: #F9F9F9;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-10 mx-auto">
                    <div class="header_hero_text">
                        <h2 style="color: hsl(0, 0%, 8%);"><span>Oops</span> 404 error</h2>
                        <p>
                        <h3>something went wrong please try again...</h3>
                        </p>
                        <div class="header_text_btn">
                            <a href="/home" alt="">back to page</a>
                        </div>
                    </div>
                </div>
                <!-- right side image -->
                <div class="col-lg-6 col-10 mx-auto">
                    <figure class="header_hero_img">
                        kuchh galat ho gaya. krpaya pun: prayaas karen
                        <img class="img-fluid image__1" src="images/opps.png" alt="" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>