<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile No</title>
    <link rel="stylesheet" href="scss/main.css">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="mobile_no">
        <h1>Mobile No <strong> {{>content/shakya_num}} </strong></h1>
        <div class="header_text_btn">
            <a href="/home" alt="">HOME</a>
        </div>
    </div>
</body>

</html>