<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
    <title>Express About</title>
    <link rel="stylesheet" href="scss/main.css">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
</head>

<body>
    {{>homeNav}}
    {{>About/about_US}}
    {{>footer}}
</body>

</html>