<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scss/main.css">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <title>CSS Course Start</title>
    {{>headerLinks}}
</head>

<body>
    <div class="container html_tutorial">
        <div class="container-fluid mt-3">
            <div class="row mb-1">
                <div class="col-lg2 col-md-2 col-2">
                    <h5>CSS Tutorial ></h5>
                </div>
                <div class="col-lg-7 col-md-7 col-7">
                    <h2>CSS Tutorial</h2>
                    <h4>
                        CSS tutorial or CSS 3 tutorial provides basic and advanced concepts of CSS technology. Our CSS
                        tutorial is developed for
                        beginners and professionals. The major points of CSS are given below:
                    </h4>
                    <ul>
                        <li>
                            CSS stands for Cascading Style Sheet.
                        </li>
                        <li>
                            CSS is used to design HTML tags.
                        </li>
                        <li>
                            CSS is a widely used language on the web.
                        </li>
                        <li>
                            HTML, CSS and JavaScript are used for web designing. It helps the web designers to apply style on HTML tags.
                        </li>
                    </ul>
                    <h2>
                        All CSS Properties
                    </h2>
                    <h4>
                        In this tutorial, you will get details of all CSS properties such as background, border, font, float, display, margin,
                        opacity, padding, text-align, vertical-align, position, color etc.
                    </h4>
                </div>
                <div class="col-lg-2 col-md-2 col-2">
                    <img src="images/css-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>