<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scss/main.css">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <title>Html Course Start</title>
    {{>headerLinks}}
</head>

<body>
    <div class="container html_tutorial">
        <div class="container-fluid mt-3">
            <div class="row mb-1">
                <div class="col-lg2 col-md-2 col-2">
                    <h5>HTML Tutorial ></h5>
                </div>
                <div class="col-lg-7 col-md-7 col-7">
                    <h2>HTML Tutorial</h2>
                    <h4>HTML tutorial or HTML 5 tutorial provides basic and advanced concepts of HTML. Our HTML tutorial
                        is developed
                        for
                        beginners and professionals. In our tutorial, every topic is given step-by-step so that you can
                        learn it in a
                        very easy
                        way. If you are new in learning HTML, then you can learn HTML from basic to a professional level
                        and after
                        learning HTML
                        with CSS and JavaScript you will be able to create your own interactive and dynamic website. But
                        Now We will
                        focus on
                        HTML only in this tutorial.
                    </h4>
                    <h4>
                        The major points of HTML are given below:
                    </h4>
                    <ul>
                        <li>
                            HTML stands for HyperText Markup Language.
                        </li>
                        <li>
                            HTML is used to create web pages and web applications.
                        </li>
                        <li>
                            HTML is widely used language on the web.
                        </li>
                        <li>
                            We can create a static website by HTML only.
                        </li>
                        <li>
                            Technically, HTML is a Markup language rather than a programming language.
                        </li>
                    </ul>
                    <h2>
                        HTML Example with HTML Editor
                    </h2>
                    <h4>
                        In this tutorial, you will get a lot of HTML examples, at least one example for each topic with
                        explanation. You can
                        also edit and run these examples, with our online HTML editor. Learning HTML is fun, and it's
                        very easy to learn.
                    </h4>
                </div>
                <div class="col-lg-2 col-md-2 col-2">
                    <img src="images/html_cours.png" alt="">
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>