<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {{>headerLinks}}
    <link rel="stylesheet" href="scss/main.css" />

    <title>Express_Code_Home</title>
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
</head>

<body>
    <!-- main_navbar part -->

    {{>nav}}

    <!-- main_header hero part -->
    {{>header}}

    <!--====== footer ==== footer ===-->
    {{>footer}}
</body>

</html>