<div class="header_hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-10 mx-auto">
                <div class="header_hero_text">
                    <h2><span>Express</span> for everyone.</h2>
                    <p>
                        Node.js - Express Framework - Express is a minimal and flexible Node.js web application
                        framework that provides a robust
                        set of features to develop web...
                    </p>
                    <div class="header_text_btn">
                        <a href="#" alt="">download app now</a>
                        <a href="/30DaysFreeTrai" alt="" id="btn__2">start 30 days free trail</a>
                    </div>
                </div>
            </div>
            <!-- right side image -->
            <div class="col-lg-6 col-10 mx-auto">
                <figure class="header_hero_img">
                    <img class="img-fluid image__1" src="images/header_hero.png" alt="" />
                </figure>
            </div>
        </div>
    </div>
</div>