<div style="margin: 10% 10%; font-size: 1.4rem;">
    <h1>WelCome to Express About Page By {{name}}</h1>
    <p>
        <b>
            my name is prem_shakya..</b>
    </p>
    <p>
        <b>
            my location city name fatehabad_haryana..</b>
    </p>
    <p>
        <b>
            my personal details fatehabad_matana..</b>
    </p>
    <section>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55558.245541924334!2d75.42048291932436!3d29.504979313928484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391165c1e1ec865d%3A0xc00cac08de2874eb!2sFatehabad%2C%20Haryana%20125050!5e0!3m2!1sen!2sin!4v1610018453215!5m2!1sen!2sin"
            width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </section>
    <div class="header_text_btn">
        <a href="/9896" alt="">Mobile No</a>
    </div>
</div>