<div style="margin: 10% 10%; font-size: 1.4rem;">
    <h1>WelCome to Express Contact Page By {{name}}</h1>
    <p>
        <b>
            id : prem_shakya..</b>
    </p>
    <p>
        <b>
            type : kali linux..</b>
    </p>
    <p>
        <b>
            email : pkshakya9854@gmail.com..</b>
    </p>
    <div class="header_text_btn">
        <a href="/9896" alt="">mobile</a>
    </div>
</div>