<div class="alert alert-warning mt-0" role="alert">
    <img src="images/logo.ico" alt="" sizes="" srcset="">
    <h2>Codeding Class Start 30 Days Free Trai</h2>
</div>
<div class="container mt-5 text-center">
    <div class="container-fluid mt-5">
        <a href="/htmlBlog" class="alr_a">
            <div class="alert alert-success start_btn" role="alert">
                <h4>basic html course for beginners click on start</h4>
            </div>
        </a>
    </div>
    <div class="container-fluid mt-5">
        <a href="/cssBlog" class="alr_a">
            <div class="alert alert-success start_btn" role="alert">
                <h4>basic css course for beginners click on start</h4>
            </div>
        </a>
    </div>
    <div class="container-fluid mt-5">
        <a href="/pythonBlog" class="alr_a">
            <div class="alert alert-success start_btn" role="alert">
                <h4>basic python course for beginners click on start</h4>
            </div>
        </a>
    </div>
    <div class="container-fluid mt-5">
        <a href="/javaBlog" class="alr_a">
            <div class="alert alert-success start_btn" role="alert">
                <h4>basic java script course for beginners click on start</h4>
            </div>
        </a>
    </div>
</div>